/* identify class or id to be changed under media query
by [class*="<class name>"] or [id*="<class id>"] */
:root {
  /* Base Colors */
  /* Main Dark Hues */
  --based: #000000;
  --mid: #161616;
  --ext: #252525;
  /* Main Light Hues */
  --basel: #ffffff;
  --red: #971213;
  --blue: #6dc7e2;
  --green: #ebf487;
  /* "Neons" */
  --yellow: #f4f29d;
  --altgreen: #3aff99;
  --altblue: #5bffff;
}

/* tag-based elements and their tag-based sub-elements */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--based);
  color: var(--basel);
}

header {
  text-align: center;
}

header p {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}

a {
  color: var(--basel);
  text-decoration: none;
}

img {
  filter: grayscale(100%); /* provisional--for testing purposes */
}

/* class-based elements and their class-based sub-elements */

header.home {
  padding: 1% 15% 1% 15%;
}

.logo {
  width: 33%;
  height: 25%;
}

main.home {
  margin-left: 0;
  margin-right: 0;
}

img.gallhanger {
  float: left;
}

.menu {
  display: inline-block;
  margin: 6% 13% 4% 13%;
  padding-left: 0;
  list-style-type: none;
}

footer.home {
  text-align: center;
}

/* id-based elements and their id-based sub-elements */

#mainlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#gallery.about {
  background-color: var(--basel);
  color: var(--based);
  overflow: auto;
  white-space: nowrap;
}

#gallery.about a {
  color: var(--based);
}

/* #gallery::after {
  content: "";
  clear: both;
  display: inline-block;
} */

/*#indexitem {
  position: relative;
} */

#seqart {
  display: inline-block;
}

#walkcycle {
  position: relative;
  bottom: 3.75em; /* may have to be adjusted depending on art asset */
  left: 1.33em; /* may have to be adjusted depending on art asset */
}

/* Media Queries */

/* Media Queries Based on Size */

/*@media only screen and (min-width: 1344px) {} */

/* Media Queries Based on Ratio */

/* remember: aspect ratios are w/h */
@media only screen and (min-aspect-ratio: 16/9) {
  .logo {
    width: 17%;
    height: 13%;
  }

  #gallery.about {
    height: 33%;
  }

  #walkcycle {
    /* provisional fixed values */
    width: 6%;
    height: 6%;
  }
}
