/* identify class or id to be changed under media query
by [class*="<class name>"] or [id*="<class id>"] */
:root {
  /* Base Colors */
  /* Main Dark Hues */
  --based: #000000;
  --mid: #161616;
  --ext: #252525;
  /* Main Light Hues */
  --basel: #ffffff;
  --red: #971213;
  --blue: #6dc7e2;
  --green: #ebf487;
  /* "Neons" */
  --yellow: #f4f29d;
  --altgreen: #3aff99;
  --altblue: #5bffff;
}

/* tag-based elements and their tag-based sub-elements */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--based);
  color: var(--basel);
}

header {
  text-align: center;
}

header p {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}

a {
  color: var(--basel);
  text-decoration: none;
}

body#indexinverse a {
  color: var(--based);
  text-decoration: none;
}

/* provisional--for testing purposes */
img {
  filter: grayscale(100%);
}

/* class-based elements and their class-based sub-elements */

header {
  position: initial;
  padding: 1% 15% 1% 15%;
  z-index: initial;
}

header.home {
  position: relative;
  top: 25em;
  z-index: 10;
  animation: headertransit 4s forwards;
}

@keyframes headertransit {
  0% {top: 25em; z-index: 12;}
  33% {top: 25em; z-index: 12;}
  75% {z-index: 9;}
  100% {top: 0em; z-index: 0;}
}

.logo {
  max-width: 12%;
  max-height: auto;
}

main.home {
  margin-left: 0;
  margin-right: 0;
}

.horizontalscroll {
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  white-space: nowrap;
}

.primarynav ul.menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  height: 3em;
  position: relative;
  right: -1.75em;
}

.indexmenu.primarynav ul.menu {
  margin: 1% 0 1% 0;
  padding-left: 0;
  list-style-type: none;
  display: block;
  height: auto;
  position: initial;
}

li.opt {
  display: inline-block;
}

.indexmenu .linkgrouping {
  background-color: var(--ext);
}

.indexmenu .linkgrouping li.opt {
  overflow: hidden;
  width: 8em;
  height: 2.75em;
  display: block;
  white-space: normal;
  text-align: center;
  margin-bottom: 8%;
  margin-top: 4%;
}

.indexmenu .linkgrouping li.opt a {
  position: relative;
  top: 25%;
}

.indexmenu .linkgrouping li.opt.short {
  width: 0em;
  height: 0em;
  display: block;
  white-space: normal;
  text-align: center;
  float: left;
  margin: 0;
}

.indexmenu .linkgrouping:hover > .short {
  animation: widthcompenz 0.5s linear forwards;
}

@keyframes widthcompenz {
  0% { width: 0em; background-color: var(--ext); height: 2.75em; }
  50% { width: 4em;}
  100% { width: 8em; background-color: var(--red); height: 2.75em; }
}

.indexmenu .linkgrouping:hover > .long {
  animation: widthdim 0.5s linear forwards;
}

@keyframes widthdim {
  0% { width: 8em; }
  50% { width: 4em;}
  100% { width: 0em; }
}

.indexmenu.primarynav li.opt.short > * {
  display: block;
  opacity: 0.0;
}

.indexmenu.primarynav li.opt.short:hover > * {
  animation: texton 0.25s ease-in forwards;
}

@keyframes texton {
  0% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.indexmenu.primarynav li.opt {
  display: block;
  opacity: 1.0;
}

.indexmenu.primarynav li.opt.short:hover ~ * a {
  animation: textoff 0.01s linear forwards;
}

@keyframes textoff {
  0% { opacity: 1.0; }
  100% { opacity: 0.0; }
}

.indexmenu.primarynav li.opt.short a {
  color: var(--based);
}

.primarynav li.opt a:hover::before {
  content: "$ exec ./";
  display: inline;
  color: var(--red);
  font-weight: bold;
}

.primarynav li.opt a:hover::after {
  content: ".py";
  display: inline;
  color: var(--red);
  font-weight: bold;
}

.indexmenu.primarynav li.opt a {
  color: var(--basel);
}

.indexmenu.primarynav li.opt a:hover::before {
  content: none;
  display: inline-block;
  font-weight: auto;
}

.indexmenu.primarynav li.opt a:hover::after {
  content: none;
  display: none;
  font-weight: auto;
}

.primarynav li.opt a {
  border-bottom: 1px solid var(--red);
  box-shadow: 0 10px 10px -10px var(--red);
  padding: 2em 2.5em 2em 2.5em;
}

.indexmenu.primarynav li.opt a {
  border: initial;
  box-shadow: initial;
  padding: initial;
}

.inventorymenu.secondarynav li.opt img {
  border-top: 4px solid var(--red);
  border-bottom: 2px solid var(--red);
  border-left: 1px solid var(--red);
  border-right: 1px solid var(--red);
  filter: none; /* temporary, for untoggling provisional grayscale for all images */
}

.pseudonav {
  margin: 2em 2em 1em 2em;
  padding: 1px 125px 0 125px;
  height: 285px;
  border: var(--basel) 2px solid;
}

.pseudonav li {
  display: block;
  background-color: var(--basel);
  text-align: center;
}

footer.home {
  text-align: center;
}

.tertiarynav li.opt {
  float: left;
  padding: 0 1% 0 1%;
}

.tertiarynav li.opt a {
  display: block;
}

/* id-based elements and their id-based sub-elements */

body#indexinverse {
  background-color: var(--basel);
  color: var(--based);
}

#mainlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#overlay {
  background-color: var(--based);
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1.0;
  z-index: 5;
  animation: overlaydisappear 4s forwards;
}

@keyframes overlaydisappear {
  0% {opacity: 1.0; z-index: 5; height: 100%; visibility: visible;}
  33% {opacity: 1.0; z-index: 2; height: 100%; visibility: visible;}
  75% {opacity: 1.0; z-index: 2; height: 100%; visibility: visible;}
  85% {opacity: 0.5; z-index: 1; height: 65%; visibility: visible;}
  100% {opacity: 0.0; z-index: -1; height: 0%; visibility: invisible;}
}

#gallery {
  box-shadow: 0 0 15px 3px var(--based) inset;
  padding: 1% 1% 1% 0;
}

#gallery img {
  margin: 0 0 0 1%;
}

#gallery.about {
  background-color: var(--basel);
  color: var(--based);
}

#gallery.about::-webkit-scrollbar {
  display: none;
}

#seqart {
  /* some things (i.e. top positionality) may
  vary according to original comic image dimensions */
  float: left;
  display: inline-block;
  padding: 2em 0 1em 2em;
}

#seqartmenu {
  /* some things (i.e., height and top padding) may
  vary according to original comic image dimensions */
  display: inline-block;
  margin: 2em 0 1em 0;
  padding: 1px 125px 0 125px;
  height: 285px;
  border: var(--based) 2px solid;
}

#seqartmenu::after {
  content: "";
  display: inline-block;
  clear: both;
}

#skippara {
  position: relative;
  z-index: 11;
  text-align: center;
}

#skippara span {
  text-decoration: underline;
}

/*#walkcycle {
  position: relative;
  bottom: 3.75em;
  left: 1.33em;
  visibility: invisible;
  opacity: 0;
  animation: fadeinrunner 5s forwards;
}

@keyframes fadeinrunner {
  0% {opacity: 0; visibility: invisible;}
  33% {opacity: 0.25; visibility: invisible;}
  100% {opacity: 1; visibility: visible;}
}*/

#pseudofooter {
  float: left;
}

footer #copyright {
  float: right;
  margin-right: 1em;
}

footer.home #copyright {
  float: none;
  margin-right: 0;
}

#triangle {
  position: absolute;
  top: 0em;
  left: 0em;
  z-index: 1;
  border-top: 100px solid var(--based);
  border-right: 100px solid transparent;
}

#cartlnk {
 position: absolute;
 top: 2em;
 right: 2em;
 z-index: 1;
}

#cartlnk img {
  max-width: 52px;
  max-height: auto;
}

header.index #cartlnk {
  position: initial;
}

/*#botreact {
  float: left;
  position: relative;
  left: 2em;
  top: 0em;
}

#botreact::after {
  content: "";
  clear: both;
  display: inline-block;
}*/

#factorymenu {
  display: flex;
  align-content: space-evenly;
  align-items: center;
  justify-content: center;
  background-color: var(--based);
  height: 40em;
}

/* Media Queries */

/* Media Queries Based on Size */
/*@media only screen and (min-width: 360px) {} */

@media only screen and (min-width: 768px) {
  .logo {
    width: 26%;
    height: 22%;
  }

  #gallery {
    padding: 3% 1% 3% 0;
  }

  #walkcycle {
    /* provisional fixed values */
    width: 9%;
    height: 9%;
  }
}

@media only screen and (min-width: 1006px) {
  .logo {
    width: 23%;
    height: 19%;
  }

  #walkcycle {
    /* provisional fixed values */
    width: 6%;
    height: 6%;
  }
}

@media only screen and (min-width: 1410px) {
  .indexmenu .menu {
    padding-top: 6%;
  }

  #walkcycle {
    /* provisional fixed values */
    width: 5%;
    height: 5%;
  }
}

@media only screen and (min-width: 1460px) {
  .logo {
    width: 20%;
    height: 16%;
  }

  #walkcycle {
    /* provisional fixed values */
    width: 5%;
    height: 5%;
  }
}

@media only screen and (min-width: 1855px) {
  .logo {
    width: 17%;
    height: 13%;
  }

  .indexmenu .menu {
    padding-top: 4%;
  }

  #walkcycle {
    /* provisional fixed values */
    width: 4%;
    height: 4%;
  }
}

@media only screen and (min-width: 2130px) {
  #gallery {
    padding: 0.75% 0.75% 0.75% 0;
  }

  #gallery img {
    margin-left: 1%;
  }
}

@media only screen and (min-width: 2160px) {
  #walkcycle {
    /* provisional fixed values */
    width: 3%;
    height: 3%;
  }
}

@media only screen and (min-width: 3000px) {
  .indexmenu .menu {
    padding-top: 3%;
  }

  #walkcycle {
    /* provisional fixed values */
    width: 2%;
    height: 2%;
  }
}

@media only screen and (min-width: 4500px) {
  .indexmenu .menu {
    padding-top: 2%;
  }

  #walkcycle {
    /* provisional fixed values */
    width: 1.75%;
    height: 1.75%;
  }
}
