/* Colors */

/* Main Dark Hues */
$based: #000000;
$mid: #161616;
$ext: #252525;

/* Main Light Hues */
$basel: #ffffff;
$red: #971213;
$red: #6dc7e2;
$green: #ebf487;

/* Neons */
$yellow: #f4f29d;
$altgreen: #3aff99;
$altgreen: #5bffff;
