@use "colors" as hue;

/* identify class or id to be changed under media query
by [class*="<class name>"] or [id*="<class id>"] */
:root {
  /* Base Colors */
  /* Main Dark Hues */
  --based: hue.based;
  --mid: #161616;
  --ext: #252525;
  /* Main Light Hues */
  --basel: #ffffff;
  --red: #971213;
  --blue: #6dc7e2;
  --green: #ebf487;
  /* "Neons" */
  --yellow: #f4f29d;
  --altgreen: #3aff99;
  --altblue: #5bffff;
}

/* tag-based elements and their tag-based sub-elements */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--based);
  color: var(--basel);
}

header {
  text-align: center;
}

header p {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}

a {
  color: var(--basel);
  text-decoration: none;
}

img {
  filter: grayscale(100%); /* provisional--for testing purposes */
}

/* class-based elements and their class-based sub-elements */

header.home {
  padding: 1% 15% 1% 15%;
}

.logo {
  width: 33%;
  height: 25%;
}

img.gallhanger {
  float: left;
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

li.opt {
  display: block;
  position: relative;
  left: 12.5em; /* adjust to have consistency with comic panels
  in comic image */
  top: 8em;
}

li.hidden {
  display: none;
}

footer.home {
  text-align: center;
}

/* id-based elements and their id-based sub-elements */

#mainlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#gallery::after {
  content: "";
  clear: both;
  display: table;
}

#seqart {
  max-height: 33%;
  max-width: 66%; /* adjust max here depending on
  comic size; comic overflow is preferable for side-scrolling
  purposes */
}

#walkcycle {
  width: 13%; /* provisional fixed values */
  height: 13%; /* provisional fixed values */
  position: relative;
  bottom: 3.75em; /* may have to be adjusted depending on art asset */
  left: 1.33em; /* may have to be adjusted depending on art asset */
}

/* Media Queries */

/* Media Queries Based on Size */

@media only screen and (min-width: 1344px) {
  .logo {
    width: 17%;
    height: 13%;
  }

  #seqart {
    max-width: 55%;
    max-height: 60%; /* adjust max here depending on
  comic size; comic overflow is preferable for side-scrolling
  purposes */
  }
}

/* Media Queries Based on Ratio */

/* remember: aspect ratios are w/h */
/*@media only screen and (min-aspect-ratio: 5/4) {
  whatever
}*/
